[submodule "mi-flora-adapter"]
	path = mi-flora-adapter
	url = https://github.com/tim-hellhake/mi-flora-adapter
[submodule "blinkt-adapter"]
	path = blinkt-adapter
	url = https://github.com/pchri/blinkt-adapter
[submodule "x10-cm11-adapter"]
	path = x10-cm11-adapter
	url = https://github.com/AlanDThiessen/x10-cm11-adapter
[submodule "Candle-manager-addon"]
	path = Candle-manager-addon
	url = https://github.com/createcandle/Candle-manager-addon
[submodule "mysensors-adapter"]
	path = mysensors-adapter
	url = https://github.com/createcandle/Webthings-mysensors-adapter
[submodule "p1-adapter"]
	path = p1-adapter
	url = https://github.com/createcandle/p1-adapter
