[submodule "Candle-manager-addon"]
	path = Candle-manager-addon
	url = https://github.com/createcandle/Candle-manager-addon
[submodule "mysensors-adapter"]
	path = mysensors-adapter
	url = https://github.com/createcandle/Webthings-mysensors-adapter
[submodule "p1-adapter"]
	path = p1-adapter
	url = https://github.com/createcandle/p1-adapter
