[submodule "serial-adapter"]
	path = serial-adapter
	url = https://github.com/WebThingsIO/serial-adapter
	branch = master
[submodule "zigbee-adapter"]
	path = zigbee-adapter
	url = https://github.com/WebThingsIO/zigbee-adapter
	branch = master
[submodule "zwave-adapter"]
	path = zwave-adapter
	url = https://github.com/WebThingsIO/zwave-adapter
	branch = master
[submodule "microblocks-adapter"]
	path = microblocks-adapter
	url = https://github.com/bromagosa/microblocks-adapter
[submodule "lg-tv-adapter"]
	path = lg-tv-adapter
	url = https://github.com/WebThingsIO/lg-tv-adapter
[submodule "mi-flora-adapter"]
	path = mi-flora-adapter
	url = https://github.com/tim-hellhake/mi-flora-adapter
[submodule "sensor-tag-adapter"]
	path = sensor-tag-adapter
	url = https://github.com/tim-hellhake/sensor-tag-adapter
[submodule "medisana-ks250-adapter"]
	path = medisana-ks250-adapter
	url = https://github.com/tim-hellhake/medisana-ks250-adapter
[submodule "xiaomi-temperature-humidity-sensor-adapter"]
	path = xiaomi-temperature-humidity-sensor-adapter
	url = https://github.com/tim-hellhake/xiaomi-temperature-humidity-sensor-adapter
[submodule "max-adapter"]
	path = max-adapter
	url = https://github.com/tim-hellhake/max-adapter
[submodule "bmp280-adapter"]
	path = bmp280-adapter
	url = https://github.com/matco/bmp280-adapter
[submodule "blinkt-adapter"]
	path = blinkt-adapter
	url = https://github.com/pchri/blinkt-adapter
[submodule "insteon-adapter"]
	path = insteon-adapter
	url = https://github.com/snorp/insteon-adapter
[submodule "x10-cm11-adapter"]
	path = x10-cm11-adapter
	url = https://github.com/AlanDThiessen/x10-cm11-adapter
[submodule "generic-sensors-adapter"]
	path = generic-sensors-adapter
	url = https://github.com/rzr/mozilla-iot-generic-sensors-adapter
[submodule "sense-hat-adapter"]
	path = sense-hat-adapter
	url = https://github.com/rzr/sense-hat-webthing
[submodule "awox-mesh-light-adapter"]
	path = awox-mesh-light-adapter
	url = https://github.com/rzr/awox-mesh-light-webthing
[submodule "voice-addon"]
	path = voice-addon
	url = https://github.com/WebThingsIO/voice-addon
[submodule "Candle-manager-addon"]
	path = Candle-manager-addon
	url = https://github.com/createcandle/Candle-manager-addon
[submodule "mysensors-adapter"]
	path = mysensors-adapter
	url = https://github.com/createcandle/Webthings-mysensors-adapter
[submodule "p1-adapter"]
	path = p1-adapter
	url = https://github.com/createcandle/p1-adapter
