name: Build one adapter

on:
  repository_dispatch:
    types: build-adapter

jobs:
  build:
    if: ${{ startsWith(github.repository, 'mozilla-iot/') }}
    strategy:
      matrix:
        platform: [
          'linux-arm',
          'linux-arm64',
          'linux-x64',
          'darwin-x64',
        ]
        pair: [
          'node:8',
          'node:10',
          'node:12',
          'node:14',
          'python:3.5',
          'python:3.6',
          'python:3.7',
          'python:3.8',
        ]
        include:
          - platform: 'linux-arm'
            host-os: 'ubuntu-latest'
          - platform: 'linux-arm64'
            host-os: 'ubuntu-latest'
          - platform: 'linux-x64'
            host-os: 'ubuntu-latest'
          - platform: 'darwin-x64'
            host-os: 'macos-latest'
          - pair: 'node:8'
            language: 'node'
            version: '8'
          - pair: 'node:10'
            language: 'node'
            version: '10'
          - pair: 'node:12'
            language: 'node'
            version: '12'
          - pair: 'node:14'
            language: 'node'
            version: '14'
          - pair: 'python:3.5'
            language: 'python'
            version: '3.5'
          - pair: 'python:3.6'
            language: 'python'
            version: '3.6'
          - pair: 'python:3.7'
            language: 'python'
            version: '3.7'
          - pair: 'python:3.8'
            language: 'python'
            version: '3.8'
    runs-on: ${{ matrix.host-os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      if: ${{ matrix.language == 'node' && matrix.host-os == 'macos-latest' }}
      with:
        node-version: ${{ matrix.version }}
    - uses: actions/setup-python@v2
      if: ${{ matrix.language == 'python' && matrix.host-os == 'macos-latest' }}
      with:
        python-version: ${{ matrix.version }}
    - name: Install dependencies
      run: |
        if [[ "${{ matrix.host-os }}" == "macos-latest" ]]; then
          brew install boost cmake coreutils eigen findutils gnu-tar pkg-config
          if [[ "${{ matrix.language }}" == "python" ]]; then
            python3 -m pip install --upgrade pip setuptools wheel
          fi
        elif [[ "${{ matrix.platform }}" != "linux-x64" ]]; then
          sudo apt -qq update
          sudo apt install --no-install-recommends -y \
            binfmt-support \
            qemu \
            qemu-user-static
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        fi
        python -m pip install --upgrade pip
        python -m pip install --upgrade awscli
    - name: Build adapter
      env:
        ADAPTERS: ${{ github.event.client_payload.adapter }}
      run: |
        ./build-addons.sh "${{ matrix.platform }}" "${{ matrix.language }}" "${{ matrix.version }}"
    - name: Upload to S3
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-west-2'
        SOURCE_DIR: 'builder'
        DEST_DIR: 'builder'
      run: |
        aws configure --profile s3-sync-action <<-EOF > /dev/null 2>&1
        ${AWS_ACCESS_KEY_ID}
        ${AWS_SECRET_ACCESS_KEY}
        ${AWS_REGION}
        text
        EOF
        aws s3 sync ${SOURCE_DIR} s3://${AWS_S3_BUCKET}/${DEST_DIR} \
              --profile s3-sync-action \
              --no-progress \
              --acl public-read
